@model TimeTracker.Models.TimeModels

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>Home test page</p>

<ol>
    <li>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </li>
    <li>
        @Html.Label("Role:")        
    </li>
</ol>