@{
    ViewBag.Title = "Home Page";
}

@section Style {
    <link href="@Url.Content("~/Content/css")" rel="stylesheet" type="text/css" />
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Eleven Winds - Time Tracker</h1>
            </hgroup>
        </div>
    </section>
}
<div class="float-left">
    <section id="login">
        @Html.Partial("_LoginPartial")
    </section>
</div>


@*<form action="~/Account/Login">
<input type="submit" value="Login">
</form>
<form action="~/Account/Register">
<input type="submit" value="Register">
</form>*@