@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Eleven Winds - Time Tracker</h1>
            </hgroup>
        </div>
    </section>
}

<section class="featured">
    <div class="content-wrap-body">
        <p class="p">
            Eleven Winds Time Tracking web application allows the employees 
            at Eleven Winds to, record how many hours they worked each day, 
            and what they worked on each day.
        </p>
    </div>
</section>